# Środowisko wirtualne (widoczne na Twoim screenie)
venv/
env/
.venv/

# Baza danych (widoczna na Twoim screenie jako db.sqlite3)
*.sqlite3
db.sqlite3

# Pliki tymczasowe Pythona (widoczne jako __pycache__)
__pycache__/
*.py[cod]
*$py.class

# Ustawienia edytora i systemowe Maca
.vscode/
.DS_Store
Thumbs.db

# Pozostałe
.env
*.log